@charset "CP850";
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal ol, .reveal ul, .reveal p, .reveal table, .reveal pre {
  margin-bottom: 2rem;
}
html.inverted .reveal h1, html.inverted .reveal h2, html.inverted .reveal h3, html.inverted .reveal h4, html.inverted .reveal h5, html.inverted .reveal h6, html.inverted .reveal ol, html.inverted .reveal ul, html.inverted .reveal p, html.inverted .reveal table, html.inverted .reveal pre {
  color: #FFF;
  text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 8px #000;
}
.reveal li {
  margin-bottom: 1rem;
}
.reveal table {
  table-layout: fixed;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
  font-size: 0.75em;
  border-top: 1px solid currentcolor;
  border-bottom: 1px solid currentcolor;
}
.reveal table th, .reveal table td {
  padding: 0 0.2em;
  white-space: nowrap;
  text-align: center;
}
.reveal table th img, .reveal table td img {
  margin: 0;
  border: none;
  background: transparent;
  box-shadow: none;
}
.reveal blockquote {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.reveal blockquote + p {
  font-style: italic;
}
.reveal blockquote > p {
  quotes: "“" "”" "‘" "’";
}
.reveal blockquote > p:last-child {
  margin-bottom: 0;
}
.reveal blockquote > p:first-child:before {
  content: open-quote ' ';
}
.reveal blockquote > p:last-child:after {
  content: ' ' close-quote;
}
