table  {
    table-layout: fixed;
    width: 100%;
    max-width: 800px;
    margin: 1em auto !important;
    font-size: 0.75em !important;
    border: 1px solid currentcolor !important;
}

th, td {
    padding-right: 1em !important;
    white-space: nowrap;
}